<!doctype html>
<html>
  <head>
    <title>Qowala</title>
    <link href="/css/style.css" rel="stylesheet" title="Default Style">
    <link href="/css/normalize.css" rel="stylesheet" title="Normalize Style">
  </head>
  <body>
    <div id="app">
      <ul id="messages">
        <li v-for="message in messages">
          {{ message }}
        </li>
      </ul>
      <form action="" v-on:submit.prevent="sendMsg">
        <input v-model="messageInput" autocomplete="off" />
        <select id="availability" v-model="availability">
          <option id="available">Available</option>
          <option id="unavailable">Unavailable</option>
        </select>
        <button>Send</button>
      </form>
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/lib/vue.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
