<!DOCTYPE html>
<html>
<head>
    <title>Qowala</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon.png">
</head>
<body>
    <%- body %>
    <script type="text/javascript">
        var userId = <%= userId %>;
        var username = "<%= username %>";
    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/messagesDisplayScript.js"></script>
    <script type="text/javascript" src="/js/messages.js"></script>
    <script type="text/javascript" src="/js/messagesColumnScript.js"></script>
    <script type="text/javascript" src="/js/mainSidebarScript.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
