@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-regular-webfont.eot');
    src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/opensans-regular-webfont.woff') format('woff'),
         url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('./fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'open_sansregular', sans-serif;
    height: 100%;
}

body {
    height: 100%
}

.classic-button {
    background-color: #119955;
    border: medium none;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.classic-button:hover {
    background-color: #16C46D;

}

#loginPopup, #deprecatedBrowserPopup {
    background-color: #595959;
    height: 230px;
    left: 50%;
    margin-left: -300px;
    margin-top: -145px;
    padding: 20px 0 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 600px;
    z-index: 1;
    border-radius: 20px;
    color: white;
}

#deprecatedBrowserPopup {
  display: none;
}

#loginPopup > p {
    margin-bottom: 50px;
}

.fa.fa-firefox, .fa.fa-chrome, .fa.fa-opera {
    font-size: 3em;
    margin: 10px 10px 0;
}

.fa.fa-opera {
  color: #C61717;
}

.fa.fa-chrome {
  color: #3FA9F5;
}

.fa.fa-firefox {
  color: #F15A24;
}

#welcome-button {
    background-color: #007d92;
    border-radius: 10px;
    font-family: "open_sansregular",sans-serif;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#welcome-button:hover{
    background-color: #009DB8;
    color: #FFFFFF;
}

#welcome-logo {
    max-width: 200px;
}

#logo {
    text-align: center;
}

#logo::after {
    border-bottom: 1px solid #8d8e8d;
    content: " ";
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 70px;
}

#logo a {
  width: 100px;
}

#logo img{
    max-width: 100px;
}

#mainSidebar, #notificationPanel {
    background-color: #1a1a1a;
    bottom: 0;
    color: white;
    margin-top: -16px;
    padding: 30px 10px 10px;
    position: fixed;
    top: 0;
    width: 100px;
    z-index: 2;
}

#notificationPanel{
  background-color: #333333;
  left: -330px;
  width: 430px;
  z-index: 1;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -ms-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

#notificationPanel h3 {
  margin: 0;
  text-align: center;
}

#notificationPanel > ul {
  padding: 0 20px 10px 10px;
  margin-top: 30px;
  overflow-y: scroll;
  height: calc(100% - 56px);
}

.notification {
  background-color: #545454;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
  margin: 0 0 20px;
  padding: 15px 10px 10px;
  position: relative;
}

.notification h4 {
  color: #429D4F;
  font-size: 0.95em;
  margin: 0 0 10px 30px;
  text-transform: uppercase;
  width: 290px;
}

.notification > i {
  font-size: 1.5em;
  position: absolute;
  right: 15px;
  top: 15px;
}

.notification > .fa-twitter {
  font-size: 1em;
  position: absolute;
  left: 15px;
  top: 18px;
  color: #3FA9F5;
  width: 16px;
}

.fa-star {
  color: #E0E01E;
}

.fa-user-plus {
  color: #19B8BF;
}

.notification > .fa-retweet {
  color: #41C463;
}

.notification > .mention {
  font-style: normal;
}

.notification-link {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

.notification-link:hover {
  text-decoration: underline;
}

#buttonOpenMessageEdition, #buttonAddColumn, #buttonOpenNotificationPanel {
  background-color: #119955;
  border: medium none;
  color: white;
  height: 50px;
  margin-left: 25px;
  padding: 5px 0 0 7px;
  border-radius: 10px;
  font-size: 2.2em;
  width: 50px;
  display: block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

#buttonOpenMessageEdition:hover, #buttonAddColumn:hover {
    background-color:#16C46D;
}

#buttonOpenMessageEdition {
  margin-top: 40px;
}

#buttonAddColumn {
  margin-top: 30px;
}

#buttonAddColumn .fa.fa-columns {
    bottom: 8px;
    font-size: 0.95em;
    left: 10px;
    position: absolute;
}

#buttonAddColumn .fa.fa-plus {
    font-size: 0.3em;
    position: absolute;
    right: 13px;
    top: 22px;
}

#buttonOpenNotificationPanel {
  background-color: #676868;
  color: #000000;
  padding: 0;
  font-size: 1.8em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#buttonOpenNotificationPanel:hover {
    background-color:#16C46D;
}

#notificationsCounter{
  background-color: #900C17;
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  right: 24px;
  margin-top: -7px;
  z-index: 1;
  padding: 5px;
  border-radius: 14px;
  font-weight: 600;
  text-align: center;
}

#titleOpenMessageEdition {
    position: relative;
    font-size: 14px;
    width: 100px;
    height: 20px;
    margin: 0px;
    text-align: center;
    margin-top: 14px;
}

#titleAddColumn {
    position: relative;
    font-size: 14px;
    width: 100px;
    margin-top: 14px;
    text-align: center;
}

#messageEditionPanel{
    width: 10px;
    background-color: #afacac;
    border-radius: 0 10px 10px 0;
    position: fixed;
    top: 95px;
    z-index: 1;
    left: -100px;
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}

#messageEditionPanel p {
    color: black;
    padding: 0 110px 0 0;
    text-align: right;
}

#messageTextarea {
    background-color: #ededed;
    border: medium none;
    border-radius: 10px;
    display: block;
    height: 200px;
    margin: 14px auto;
    padding: 10px;
    width: 80%;
}

.red{
    color: red;
}

#sendTweetButton {
    background-color: #119955;
    border: medium none;
    border-radius: 5px;
    bottom: 10px;
    color: white;
    padding: 7px 20px;
    position: absolute;
    right: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#sendTweetButton:disabled {
    background-color: #4cc783;
}


#sendTweetButton:hover {
    background-color:#16C46D;
}

#suggestionPanel {
  display: none;
  max-height: 330px;
  background-color: white;
  position: absolute;
  top: 292px;
  left: 35px;
  right: 35px;
  border: 3px solid rgb(175, 172, 172);
  overflow: hidden;
}

#userSuggestionList{
  list-style-type: none;
  padding: 0px;
  margin: 0px
}

#userSuggestionList > li {
  color: gray;
  font-style: italic;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#userSuggestionList > li > img {
  border-radius: 5px;
  width: 35px
}

#userSuggestionList .suggested-user-name {
  font-style: normal;
  font-weight: bold;
  color: black;
  margin: 0 10px;
}

#divider::before {
    border-top: 1px solid #8d8e8d;
    content: " ";
    display: block;
    margin-top:30px;
    margin-left: 13px;
    padding-top: 20px;
    width: 70px;
}

input[type="text"].tagInput {
    display: block;
    padding: 0 12px;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #8d8e8d;
    margin: 0 auto;
}

input[type="text"].tagInput::-webkit-input-placeholder {
   color: white;
   text-align: center;
}

input[type="text"].tagInput:-moz-placeholder { /* Firefox 18- */
   color: white;
   text-align: center;
}

input[type="text"].tagInput::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   text-align: center;
}

input[type="text"].tagInput:-ms-input-placeholder {
   color: white;
   text-align: center;
}

#tagContainer{
    margin: 40px auto 0;
    padding: 0;
}

.tweets-column-panel-list-hashtagsList {
    padding: 0;
}

.tweets-column-panel-list h4 {
    border-bottom: 1px solid white;
    color: #119955;
    margin: 1.33em auto;
    padding-bottom: 10px;
    width: 220px;
}
.tweets-column-panel-list-hashtagsList .hashtag {
    background-color: #119955;
    border-radius: 15px;
    display: block;
    list-style-type: none;
    margin: 10px auto;
    min-height: 20px;
    padding: 4px 8px 5px;
    text-align: center;
    max-width: 60%;
    word-wrap: break-word;
}

.hashtag-delete-button {
    background-color: transparent;
    border: medium none;
    color: white;
    position: absolute;
    right: -30px;
    top: 5px;
}

#toggleButton {
    background-color: #dddddd;
    border: 1px solid #dddddd;
    color: #676767;
    font-family: "open_sansregular",sans-serif;
    padding: 4px 15px;
}

#logoutLink {
    background-color: transparent;
    border: none;
    color: #d18933;
    position: absolute;
    left: 20px;
    bottom: 80px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#mainSidebar a:hover {
  color:#FFA525;
}


#logoutLink p {
    margin: 0;
}

#numberConnectedUsersPhrase {
    bottom: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: .8em;
}

/** TWEETS **/

#tweets-columns-list {
    position: relative;
    right: -120px;
    width: calc(100% - 120px);
    padding: 0;
    display: inline-flex;
    margin-top: 0;
    min-height: 100%;
    margin: 0;
    background-color: #333333;
}

.tweets-column, #plusColumn {
    list-style-type: none;
    width: 25%;
    background-color: #333333;
    max-height: 100%;
    min-width: 24.75%;
    position: relative;
}

.tweets-column + .tweets-column {
    border-left: 5px solid #1a1a1a;
}

.tweets-column-header {
    background-color: #4d4d4d;
    color: #e0e2e0;
    margin: 0;
    padding: 10px 20px;
    position: relative;
}

.tweets-column-header h3 {
    margin: 0;
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tweets-column-header-button {
    background-color: transparent;
    border: medium none;
    bottom: 6px;
    color: #afacac;
    font-size: 1.6em;
    position: absolute;
    right: 10px;  -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.tweets-column-header-button:hover, .tweets-column-header-button-active {
    color: #119955;
}

.tweets-column-panel {
    position: absolute;
    top: 46px;
    background-color: #202020;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    -moz-transition: transform ease-in 0.35s;
    -webkit-transition: transform ease-in 0.35s;
    -ms-transition: transform ease-in 0.35s;
    -o-transition: transform ease-in 0.35s;
    transition: transform ease-in 0.35s;
}

.tweets-column-panel-list {
    padding: 0 40px 10px;
}

.deleteColumnButton{
    background-color: #901216;
    margin-top: 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.deleteColumnButton:hover{
    background-color: #BD181D;

}


.tweets-column-panel-list li{
    list-style-type: none;
    text-align: center;
    min-height: 60px;
    color: white;
    position: relative;
}

.tweets-column-panel-list-first p{
    float: left;
}

.switch {
    position: relative;
    top: 18px;
    left: 100px;
}

.switch > [type="checkbox"]:checked, .switch > [type="checkbox"]:not(:checked) {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
}

.switch > [type="checkbox"]:checked + label, .switch > [type="checkbox"]:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
    /*margin-top: 7px;*/
    margin-bottom: 17px;
    padding-right: 60px;
}

.switch > [type="checkbox"]:checked + label:after, .switch > [type="checkbox"]:not(:checked) + label:after {
    content: "";
    right: 10px;
    width: 40px;
    height: 22px;
    position: absolute;
    border-radius: 10px;
}

.switch > [type="checkbox"]:checked + label + .switch-knob, .switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: right .1s ease-in, background-color .1s ease-in;
    -moz-transition: right .1s ease-in, background-color .1s ease-in;
    -o-transition: right .1s ease-in, background-color .1s ease-in;
    -ms-transition: right .1s ease-in, background-color .1s ease-in;
}

.switch > [type="checkbox"]:checked:focus + label:after, .switch > [type="checkbox"]:checked:focus + label + .switch-knob,
.switch > [type="checkbox"]:not(:checked):focus + label:after,
.switch > [type="checkbox"]:not(:checked):focus + label + .switch-knob {
    box-shadow: 0 0 6px 0 #6fb5fb;
}

.switch > [type="checkbox"]:checked[disabled] + label, .switch > [type="checkbox"]:checked[disabled] + label:after, .switch > [type="checkbox"]:checked[disabled] + label + .switch-knob,
.switch > [type="checkbox"]:not(:checked)[disabled] + label,
.switch > [type="checkbox"]:not(:checked)[disabled] + label:after,
.switch > [type="checkbox"]:not(:checked)[disabled] + label + .switch-knob {
    cursor: not-allowed;
    opacity: 0.4;
}

.switch > [type="checkbox"]:checked + label:after {
    background-color: #00955b;
}

.switch > [type="checkbox"]:not(:checked) + label:after {
    background-color: #dddddd;
}

.switch > [type="checkbox"]:checked + label + .switch-knob {
    right: 5px;
    background-color: #cbcbcb;
}

.switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    right: 30px;
    background-color: #898989;
}

/* Special switch for second parameter */

.tweets-column-panel-list-second .switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    background-color: #cbcbcb;
}

.tweets-column-panel-list-second .switch > [type="checkbox"]:not(:checked) + label:after {
    background-color: #00955b;
}

.tweets-column-panel-list-second p {
    float: left;
}

.tweets-column-panel-list-second p + p {
    position: absolute;
    right: 0;
}

.tweets-column-panel-list-second .switch {
    left: -20px;
}

.tweets-column-panel-list-twitterLists-button {
    margin-bottom: 17px;
    margin-left: 10px;
}

.listChoiceAlreadyExist {
    font-style: italic;
    color: gray;
}

.tweets-column-panel-list-hashtagsBlock {
    display: none;
}

#tweets-column-home .tweets-column-panel-list-second, #tweets-column-home .tweets-column-panel-list-twitterLists , #tweets-column-home .tweets-column-panel-list-hashtagsBlock {
    display: none;
}

#lists-row {
    padding: 0;
    display: inline-flex;
}

/*********************/
/** Loading Spinner **/
/*********************/

.loadingProgressContainer{
    width:100%;
    height:5px;
    overflow:hidden;
    position: absolute;
    background-color:rgb(17,153,85);
    margin:auto;
    border-radius:5px;
        -o-border-radius:5px;
        -ms-border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
    transform: scaleY(0);
    transform-origin: 50% 0;
    -moz-transition: transform ease-in 0.15s;
    -webkit-transition: transform ease-in 0.15s;
    -ms-transition: transform ease-in 0.15s;
    -o-transition: transform ease-in 0.15s;
    transition: transform ease-in 0.15s;
}

.loadingProgress{
    background-color:#333333;
    margin-top:0;
    margin-left:-100%;
    animation-duration:1.8s;
        -o-animation-duration:1.8s;
        -ms-animation-duration:1.8s;
        -webkit-animation-duration:1.8s;
        -moz-animation-duration:1.8s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
        -o-animation-timing-function:linear;
        -ms-animation-timing-function:linear;
        -webkit-animation-timing-function:linear;
        -moz-animation-timing-function:linear;
    width:100%;
    height:5px;
}

@keyframes bounce_loadingProgress{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}

@-o-keyframes bounce_loadingProgress{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}

@-ms-keyframes bounce_loadingProgress{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}

@-webkit-keyframes bounce_loadingProgress{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}

@-moz-keyframes bounce_loadingProgress{
    0%{
        margin-left:-100%;
    }

    100%{
        margin-left:100%;
    }
}

/*************************/
/**   Column tutorial   **/
/*************************/


.column-tutorial {
    border: 2px solid #0D9955;
    border-radius: 20px;
    color: white;
    margin: 50px auto;
    text-align: center;
    width: 80%;
}

.column-tutorial > p {
    padding: 20px;
}

.tweets {
    padding: 0;
    margin-top: 0;
}

.tweets li{
    list-style-type: none;
    /*background-color: #5072b2;*/
    color: white;
    min-height: 48px;
    padding: 10px;
    border-bottom: 1px solid #119955;
    position: relative;
    transform: scaleY(0);
    transform-origin: 50% 0;
    -moz-transition: transform ease-in 0.1s;
    -webkit-transition: transform ease-in 0.1s;
    -ms-transition: transform ease-in 0.1s;
    -o-transition: transform ease-in 0.1s;
    transition: transform ease-in 0.1s;
}

.tweet-date{
    font-size: 0.8em;
}

.tweet-date:hover {
    text-decoration: underline;
}

.tweet-text{
    font-size: 0.9em;
    margin: 8px 0 10px;
    word-wrap: break-word;
}

.tweet-profile {
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 6px;
    width: 40px;
    background-color: white;
    border-radius: 10px;
    border: solid white 1px;
}

.tweet-profile > a {
    color: black;
    text-decoration: none;
}

.tweet-authorname{
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.tweet-authorScreenName {
    color: #119955;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 10px;
}

.tweet-url, .tweet-link-image{
    color: #2aa3d6;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.tweet-url:hover, .tweet-link-image:hover{
    text-decoration: none;
    color: #4CCAFF;
}

.tweet-retweet-button, .tweet-retweet-button-active, .tweet-reply-button {
    background-color: transparent;
    border: none;
    color: #dddede;
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.tweet-reply-button {
    position: absolute;
    right: 65px;
}

.tweet-retweet-button:hover, .tweet-retweet-button-active,
.tweet-reply-button:hover {
    color: #119955;
}

.tweet-retweet-button i, .tweet-retweet-button-active i {
    font-size: 1.4em;
}

.tweet-reply-button i {
    font-size: 1.15em;
}

.tweet-retweeter {
    font-size: 0.9em;
    margin: 0 0 5px;
}

.tweet-retweeter .fa-retweet {
    color: #119955;
    margin-right: 10px;
}

.tweet-image, .tweet-image-extended{
    border-radius: 10px;
    display: block;
    margin: 10px auto 0;
    max-width: 100%;
    cursor: pointer;
    -moz-transition: all ease-in 0.35s;
    -webkit-transition: all ease-in 0.35s;
    -ms-transition: all ease-in 0.35s;
    -o-transition: all ease-in 0.35s;
    transition: all ease-in 0.35s;
}

.tweet-image-extended {
    margin: 40px auto 20px;
}

.tweet-image-none {
    display: none;
}

.tweet-link-image-none {
    display: none;
}

#largeImagePopup, #tweetConfirmationPopup{
    position: fixed;
    background-color: #C2C2C2;
    border-radius: 20px;
    padding: 20px;
    z-index: 2;
    display: none;
    -moz-transition: all ease-in 0.35s;
    -webkit-transition: all ease-in 0.35s;
    -ms-transition: all ease-in 0.35s;
    -o-transition: all ease-in 0.35s;
    transition: all ease-in 0.35s;
}

#tweetConfirmationPopup{
    background-color: #595959;
    width: 500px;
    margin: auto;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
}

#tweetConfirmationPopup h3{
    text-align: center;
    color: white;
}

#tweetConfirmationPopup .tweet-text{
    color: white;
}

#tweetConfirmationPopup .tweet-authorScreenName{
    color: #26ae6a;
}

#tweetConfirmationPopup .tweet-date,
#tweetConfirmationPopup .tweet-retweeter,
#tweetConfirmationPopup .tweet-retweet-button,
#tweetConfirmationPopup .tweet-retweet-button-active,
#tweetConfirmationPopup .tweet-reply-button {
    display: none;
}

#retweetButton, #retweetCancelButton{
    background-color: #901216;
    margin-left: 290px;
    margin-top: 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#retweetButton {
    background-color: #119955;
    margin-left: 20px;
}

#retweetButton:hover {
  background-color: #16C46D;
}

#retweetCancelButton:hover {
  background-color:#BD181D;
}

/**  ADD COLUMN COLUMN **/
#plusColumn {
    width: 100px;
    min-width: 8%;
}

#plusColumnButton{
    background-color: transparent;
    border: none;
    color: #4d4d4d;
    font-size: 1.5em;
    left: 50%;
    position: relative;
    top: 100px;
    padding: 0;
    left: calc(50% - 30px);
    width: 60px;
}

#plusColumnButton .fa-plus{
    color: white;
}

/** STATISTICS **/

#statistics tbody{
    display: block;
    margin-bottom: 55px;
}

#statistics tbody+tbody{
    border-top: solid 1px white;
}

#statistics tr {
    display: block;
    height: 50px;
    position: relative;
}

#statistics .tag-frequency {
    position: absolute;
    width: 120px;
    top: 25px;
}

#statistics .tag-lang {
    padding: 25px 0;
}

#statistics .tag-lang ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 254px;
}

#statistics .tag-lang li{
    margin-right: 10px;
    float: left;
}

.tag-name{
    font-weight: bold;
    font-size: 0.9em;
}

.tag-frequency{
    font-style: italic;
    font-size: 0.9em
}

.tag-lang li+li{
    margin-left: 30px;
}


#sendTagButton {
    background-color: #ddd;
    border: medium none;
    border-radius: 5px;
    color: #676767;
    padding: 5px 10px;
}

#sendTagButton:hover {
    background-color: #F5F5F5;
}

/***********************/
/*    MEDIA QUERIES    */
/***********************/

@media only screen and (max-device-width: 1500px) {
    .tweets-column {
        min-width: 33.333%;
    }

}

@media only screen and (max-device-width: 1200px) {
    .tweets-column {
        min-width: 50%;
    }

}
