html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body {
    height: 100%
}

#loginPopup {
    background-color: #595959;
    height: 180px;
    left: 50%;
    margin-left: -300px;
    margin-top: -120px;
    padding: 20px 0 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 600px;
    z-index: 1;
    border-radius: 20px;
    color: white;
}

#loginPopup > p {
    margin-bottom: 50px;
}

#logo-live {
    font-family: "Open Sans";
    font-weight: 300;
}

#welcome-button {
    background-color: #007d92;
    border-radius: 10px;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
}

#welcome-button:hover{
    color: black;
    background-color: #F5F5F5;
}

#logo {
    font-family: "Open Sans";
    font-size: 1.4em;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
}

#logo::after {
    border-bottom: 1px solid #119955;
    content: " ";
    display: block;
    left: 32px;
    padding-bottom: 20px;
    position: relative;
    width: 120px;
}

#logo-qowala{
    color: #119955;
    font-family: Ubuntu, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

#mainSidebar {
    background-color: #1a1a1a;
    bottom: 0;
    color: white;
    margin-top: -16px;
    padding: 30px 10px 10px;
    position: fixed;
    top: 0;
    width: 172px;
    z-index: 2;
}

#buttonOpenMessageEdition {
    background-color: #119955;
    border: medium none;
    color: white;
    height: 50px;
    margin: 50px auto;
    padding: 5px 0 0 7px;
    border-radius: 10px;
    font-size: 2.2em;
    width: 50px;
    display: block;
}

#messageEditionPanel{
    width: 10px;
    background-color: #afacac;
    border-radius: 0 10px 10px 0;
    position: fixed;
    top: 95px;
    z-index: 1;
    left: -100px;
    -moz-transition: left 1s; 
    -webkit-transition: left 1s;  
    -ms-transition: left 1s;  
    -o-transition: left 1s;  
    transition: left 1s;
}  

#messageEditionPanel p {
    color: black;
    padding: 0 110px 0 0;
    text-align: right;
}

#messageTextarea {
    background-color: #ededed;
    border: medium none;
    border-radius: 10px;
    display: block;
    height: 200px;
    margin: 14px auto;
    padding: 10px;
    width: 80%;
}

.red{
    color: red;
}

#sendTweetButton {
    background-color: #119955;
    border: medium none;
    border-radius: 5px;
    bottom: 10px;
    color: white;
    padding: 7px 20px;
    position: absolute;
    right: 10px;
}

#sendTweetButton:disabled {
    background-color: #4cc783;
}

#tagInputWrapper::before {
    border-top: 1px solid #8d8e8d;
    content: " ";
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 120px;
}

#tagInput {
    display: block;
    padding: 0 12px;
    width: 110px;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #8d8e8d;
    margin: 0 auto;
}

#tagInput::-webkit-input-placeholder {
   color: white;
   text-align: center;
}

#tagInput:-moz-placeholder { /* Firefox 18- */
   color: white;  
   text-align: center;
}

#tagInput::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
   text-align: center;
}

#tagInput:-ms-input-placeholder {  
   color: white;  
   text-align: center;
}

#tagContainer{
    margin: 40px auto 0;
    padding: 0;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.draggableTag:before{
    content: "..";
    position: relative;
    right: 4px;
}

.draggableTag{
    background-color: #119955;
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 10px auto;
    padding: 2px 0 5px 4px;
    list-style-type: none;
}

#toggleButton {
    background-color: #dddddd;
    border: 1px solid #dddddd;
    color: #676767;
    font-family: "Open Sans",sans-serif;
    padding: 4px 15px;
}

#logoutLink {
    background-color: transparent;
    border: none;
    color: #d18933;
    position: absolute;
    left: 58px;
    bottom: 80px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

#logoutLink p {
    margin: 0;
}

#numberConnectedUsersPhrase {
    bottom: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: .8em;
}

/** TWEETS **/

#tweets-columns-list {
    position: relative;
    right: -192px;
    width: calc(100% - 192px);
    padding: 0;
    display: inline-flex;
    margin-top: 0;
    min-height: 100%;
    margin: 0;
    background-color: #333333;
}

.tweets-column {
    list-style-type: none;
    width: 25%;
    background-color: #333333;
    max-height: 100%;
    min-width: 24.75%;
    position: relative;
}

.tweets-column + .tweets-column {
    border-left: 5px solid #1a1a1a;
}

.tweets-column-header {
    background-color: #4d4d4d;
    color: #e0e2e0;
    margin: 0;
    padding: 10px 20px;
    position: relative;
}

.tweets-column-header h3 {
    margin: 0;
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tweets-column-header-button {
    background-color: transparent;
    border: medium none;
    bottom: 6px;
    color: #afacac;
    font-size: 1.6em;
    position: absolute;
    right: 10px;
}

.tweets-column-header-button:hover, .tweets-column-header-button-active {
    color: #119955;
}

.tweets-column-panel {
    position: absolute;
    top: 46px;
    background-color: #202020;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    -moz-transition: transform ease-in 0.35s; 
    -webkit-transition: transform ease-in 0.35s;  
    -ms-transition: transform ease-in 0.35s;  
    -o-transition: transform ease-in 0.35s;  
    transition: transform ease-in 0.35s;
}

.tweets-column-panel-list {
    padding: 0 40px 10px;
}

.tweets-column-panel-list li{
    list-style-type: none;
    text-align: center;
    height: 60px;
    color: white;
    position: relative;
}

.tweets-column-panel-list-first p{
    float: left;
}

.switch {
    position: relative;
    top: 18px;
    left: 100px;
}

.switch > [type="checkbox"]:checked, .switch > [type="checkbox"]:not(:checked) {
    width: 0;
    height: 0;
    display: none;
    opacity: 0; 
}

.switch > [type="checkbox"]:checked + label, .switch > [type="checkbox"]:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
    /*margin-top: 7px;*/
    margin-bottom: 17px;
    padding-right: 60px; 
}

.switch > [type="checkbox"]:checked + label:after, .switch > [type="checkbox"]:not(:checked) + label:after {
    content: "";
    right: 10px;
    width: 40px;
    height: 22px;
    position: absolute;
    border-radius: 10px; 
}

.switch > [type="checkbox"]:checked + label + .switch-knob, .switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: right .1s ease-in, background-color .1s ease-in;
    -moz-transition: right .1s ease-in, background-color .1s ease-in;
    -o-transition: right .1s ease-in, background-color .1s ease-in;
    -ms-transition: right .1s ease-in, background-color .1s ease-in; 
}

.switch > [type="checkbox"]:checked:focus + label:after, .switch > [type="checkbox"]:checked:focus + label + .switch-knob,
.switch > [type="checkbox"]:not(:checked):focus + label:after,
.switch > [type="checkbox"]:not(:checked):focus + label + .switch-knob {
    box-shadow: 0 0 6px 0 #6fb5fb; 
}

.switch > [type="checkbox"]:checked[disabled] + label, .switch > [type="checkbox"]:checked[disabled] + label:after, .switch > [type="checkbox"]:checked[disabled] + label + .switch-knob,
.switch > [type="checkbox"]:not(:checked)[disabled] + label,
.switch > [type="checkbox"]:not(:checked)[disabled] + label:after,
.switch > [type="checkbox"]:not(:checked)[disabled] + label + .switch-knob {
    cursor: not-allowed;
    opacity: 0.4; 
}

.switch > [type="checkbox"]:checked + label:after {
    background-color: #00955b; 
}

.switch > [type="checkbox"]:not(:checked) + label:after {
    background-color: #dddddd; 
}

.switch > [type="checkbox"]:checked + label + .switch-knob {
    right: 5px;
    background-color: #cbcbcb; 
}

.switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    right: 30px;
    background-color: #898989; 
}

/* Special switch for second parameter */

.tweets-column-panel-list-second .switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    background-color: #cbcbcb; 
}

.tweets-column-panel-list-second .switch > [type="checkbox"]:not(:checked) + label:after {
    background-color: #00955b; 
}

.tweets-column-panel-list-second p {
    float: left;
}

.tweets-column-panel-list-second p + p {
    position: absolute;
    right: 0;
}

.tweets-column-panel-list-second .switch {
    left: -20px;
}

.tweets-column-panel-list-twitterLists {

}

.listChoiceAlreadyExist {
    font-style: italic;
    color: gray;
}

.tweets-column-panel-list-hashtagsBlock {
    display: none;
}

#tweets-column-user .tweets-column-panel-list-second, #tweets-column-user .tweets-column-panel-list-twitterLists , #tweets-column-user .tweets-column-panel-list-hashtagsBlock {
    display: none;
}

#lists-row {
    padding: 0;
    display: inline-flex;
}

.tweets {
    padding: 0;
    margin-top: 0;
}

.tweets li{
	list-style-type: none;
	/*background-color: #5072b2;*/
	color: white;
	min-height: 48px;
	padding: 10px;
	border-bottom: 1px solid #119955;
    position: relative;
}

.tweet-date{
	font-size: 0.8em;
}

.tweet-date:hover {
    text-decoration: underline;
}

.tweet-text{
	font-size: 0.9em;
    margin: 8px 0 10px;
    word-wrap: break-word;
}

.tweet-profile {
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 6px;
    width: 40px;
    background-color: white;
    border-radius: 10px;
    border: solid white 1px;
}

.tweet-profile > a {
    color: black;
    text-decoration: none;
}

.tweet-authorname{
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.tweet-authorScreenName {
    color: #119955;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 10px;
}

.tweet-url, .tweet-link-image{
	color: #2aa3d6;
	text-decoration: none;
}

.tweet-url:hover, .tweet-link-image:hover{
	text-decoration: underline;
}

.tweet-retweet-button, .tweet-retweet-button-active {
    background-color: transparent;
    border: none;
    color: #dddede;
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 0;
}

.tweet-retweet-button:hover, .tweet-retweet-button-active {
    color: #119955;
}

.tweet-retweet-button i, .tweet-retweet-button-active i {
    font-size: 2em;
}

.tweet-image, .tweet-image-extended{
    border-radius: 10px;
    display: block;
    margin: 10px auto 0;
    max-width: 100%;
    cursor: pointer;
    -moz-transition: all ease-in 0.35s; 
    -webkit-transition: all ease-in 0.35s;  
    -ms-transition: all ease-in 0.35s;  
    -o-transition: all ease-in 0.35s;  
    transition: all ease-in 0.35s;
}

.tweet-image-extended {
    margin: 40px auto 20px;
}

.tweet-image-none {
    display: none;
}

.tweet-link-image-none {
    display: none;
}

/** STATISTICS **/

#statistics tbody{
	display: block;
    margin-bottom: 55px;
}

#statistics tbody+tbody{
	border-top: solid 1px white; 
}

#statistics tr {
    display: block;
    height: 50px;
    position: relative;
}

#statistics .tag-frequency {
    position: absolute;
    width: 120px;
    top: 25px;
}

#statistics .tag-lang {
    padding: 25px 0;
}

#statistics .tag-lang ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 254px;
}

#statistics .tag-lang li{
	margin-right: 10px;
	float: left;
}

.tag-name{
	font-weight: bold;
	font-size: 0.9em;
}

.tag-frequency{
	font-style: italic;
	font-size: 0.9em
}

.tag-lang li+li{
	margin-left: 30px;
}


#sendTagButton {
    background-color: #ddd;
    border: medium none;
    border-radius: 5px;
    color: #676767;
    padding: 5px 10px;
}

#sendTagButton:hover {
	background-color: #F5F5F5;	
}

/***********************/
/*    MEDIA QUERIES    */
/***********************/

@media only screen and (max-device-width: 1500px) {
    .tweets-column {
        min-width: 33.333%;
    }

}

@media only screen and (max-device-width: 1200px) {
    .tweets-column {
        min-width: 50%;
    }

}