html{
	font-family: 'Open Sans', sans-serif;
}

#sidebar{
	background-color: #5072b2;
	margin-top: -16px;
    padding: 30px 10px 10px;
    color: white;
    width: 290px;
    position: fixed;
    bottom: 0;
    top:0;
}

button {
    background-color: #5072b2;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #395384;
    color: white;
    padding: 2px 8px;
}
#toggleButton {
    display: block;
    margin: 20px auto 0;
    width: 100px;
}

#tags{
	list-style-type: none;
}

#tags li+li{
	margin-top: 5px;
}

.tag:hover:after{
	content: " x";
}

#tweets {
    position: relative;
    right: -300px;
    width: calc(100% - 350px);
}

#tweets li{
	list-style-type: none;
	/*background-color: #5072b2;
	color: white;*/
	padding: 5px;
	margin-bottom: 10px;
}

.tweetdate{
	font-style: italic;
	font-size: 0.85em;
	display: block;
}

.tweettext{
	font-size: 0.9em;
}

.tweetauthorname{
	font-weight: bold;
}

#statistics tbody{
	display: block;
    margin-bottom: 55px;
}

#statistics tbody+tbody{
	border-top: solid 1px white; 
}

#statistics tr{
	position: relative;
	display:block;
}

#statistics td+td{
	padding-left: 40px;
}

#statistics td+td+td{
	position: absolute;
	left: 0;
	top: 20px;
    top: 30px;
    padding: 0;
}

#statistics td + td + td ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 254px;
}

#statistics td+td+td li{
	margin-right: 10px;
	float: left;
}

.tagname{
	font-weight: bold;
	font-size: 0.9em;
}

.tagfrequency{
	font-style: italic;
	font-size: 0.9em
}

.taglang li+li{
	margin-left: 30px;
}
input[type="text"] {
    width: 180px;
}
input[type="submit"] {
    background-color: #5072b2;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #395384;
    color: white;
    padding: 2px 8px;
}

/********************/
/*    Index.html    */
/********************/

#welcome-block {
	text-align: center;
}

#welcome-block a {
	font-size: 2em;
}