html{
	font-family: 'Open Sans', sans-serif;
}

#sidebar{
	background-color: #5072b2;
	margin-top: -16px;
    padding: 30px 10px 10px;
    color: white;
    width: 290px;
    position: fixed;
    bottom: 0;
    top:0;
    overflow-y: scroll;
}

button {
    background-color: #5072b2;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #395384;
    color: white;
    padding: 2px 8px;
}
#toggleButton {
    display: block;
    margin: 20px auto 0;
    width: 100px;
}

#tags{
	list-style-type: none;
}

#tags li+li{
	margin-top: 5px;
}

.tag:hover:after{
	content: " x";
}

/** TWEETS **/

#tweets {
    position: relative;
	right: -340px;
    width: calc(100% - 350px);
    padding: 0;
}

#tweets li{
	list-style-type: none;
	/*background-color: #5072b2;
	color: white;*/
	min-height: 48px;
	padding: 10px;
	border-bottom: 1px dotted gray;
}

.tweet-date{
	font-style: italic;
	font-size: 0.85em;
	display: block;
}

.tweet-text{
	font-size: 0.9em;
}

.tweet-profile {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 10px;
}

.tweet-authorname{
	font-weight: 600;
}

.tweet-url{
	color: #0084b4;
}

/** STATISTICS **/

#statistics tbody{
	display: block;
    margin-bottom: 55px;
}

#statistics tbody+tbody{
	border-top: solid 1px white; 
}

#statistics tr {
    display: block;
    height: 50px;
    position: relative;
}

#statistics .tag-frequency {
    position: absolute;
    width: 120px;
    top: 25px;
}

#statistics .tag-lang {
    padding: 25px 0;
}

#statistics .tag-lang ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 254px;
}

#statistics .tag-lang li{
	margin-right: 10px;
	float: left;
}

.tag-name{
	font-weight: bold;
	font-size: 0.9em;
}

.tag-frequency{
	font-style: italic;
	font-size: 0.9em
}

.tag-lang li+li{
	margin-left: 30px;
}
input[type="text"] {
    width: 180px;
}
input[type="submit"] {
    background-color: #5072b2;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #395384;
    color: white;
    padding: 2px 8px;
}

/********************/
/*    Index.html    */
/********************/

#welcome-block {
	text-align: center;
}

#welcome-block a {
	font-size: 2em;
}