<div id="sidebar">
    <h2>Hello <%=username %></h2>
        
        <input type="text" name="tag" placeholder="Tag to track" id="tagInput"/>
        <button id="sendTagButton">Track</button> 

    <button id="toggleButton">Stop</button>

    <p>You are following:
    <ul id="tag-list">
    </ul>
    </p>

    <h2>Statistics:</h2>
    <table id="statistics"></table>
</div>
<ul id="tweets-columns-list">
    <li id="tweets-column-user" class="tweets-column"><h3 id="tweets-column-header-user" class="tweets-column-header">Timeline</h3><ul id="tweets-user" class="tweets"></ul></li>
    <li id="tweets-column-tracking" class="tweets-column"><h3 id="tweets-column-header-tracking" class="tweets-column-header">Tracking</h3><ul id="tweets-search" class="tweets"></ul></li>
</ul>