 <%if (!userId) { %>
    <div id="loginPopup">
        <h2>Welcome to <span id="logo-qowala">Qowala</span> <span id="logo-live">live</span> !</h2>
        <p>Connect to your Twitter account to access Qowala live :)</p>
        <a href="/auth/twitter" id="welcome-button">Sign in with Twitter</a>
    </div>
<% } %>

<div id="mainSidebar">
    <h1 id="logo"><span id="logo-qowala">Qowala</span> live</h1>
        
    <button id="buttonOpenMessageEdition">M</button>

    <div id="tagInputWrapper">
        <input type="text" name="tag" placeholder="Track..." id="tagInput"/>
    </div>

    <ul id="tagContainer">
        <li class="draggableTag" draggable="true">#steam</li>
        <li class="draggableTag" draggable="true">#desura</li>
        <li class="draggableTag" draggable="true">#linux</li>
    </ul>

</div>
<ul id="tweets-columns-list">
</ul>

