 <%if (!userId) { %>
    <div id="loginPopup">
        <h2>Welcome to <img id="welcome-logo" src="/img/logoql-text.png"></h2>
        <p>Connect to your Twitter account to access Qowala live :)</p>
        <a href="/auth/twitter" id="welcome-button">Sign in with Twitter</a>
    </div>
<% } %>

<div id="deprecatedBrowserPopup">
    <h2>BROWSER INFORMATION</h2>
    <p>Qowala uses the latest web technologies to deliver the best experience possible to you.</p>
    <p>Please use the latest version of Firefox, Chrome or Opera.</p>
    <a href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-firefox"></i></a>
    <a href="https://www.chromium.org/"><i class="fa fa-chrome"></i></a>
    <a href="http://www.opera.com/"><i class="fa fa-opera"></i></a>
</div>

<div id="mainSidebar">
    <h1 id="logo"><a href="https://git.framasoft.org/KillianKemps/Qowala-live/"><img src="/img/logoql-white_360.png"></a></h1>

    <button id="buttonOpenMessageEdition">
        <i class="fa fa-pencil-square-o"></i>
    </button>
    <div id="titleOpenMessageEdition">Tweet</div>

    <button id="buttonAddColumn">
        <i class="fa fa-columns"></i>
        <i class="fa fa-plus"></i>
    </button>
    <div id="titleAddColumn"> Add column </div>

    <div id="divider">
    </div>

    <span id="notificationsCounter"></span>
    <button id="buttonOpenNotificationPanel">
        <i class="fa fa-bell"></i>
    </button>

    <a href="/logout" id="logoutLink">
        <i class="fa fa-sign-out"></i>
        <p>log out</p>
    </a>

    <p id="numberConnectedUsersPhrase"><span id="numberConnectedUsers"></span> koala<span id="koalaPlural"></span> online!</p>

</div>

<div id="notificationPanel">
  <h3>Notifications</h3>
  <ul id="notificationsList">
  </ul>
</div>

<div id="messageEditionPanel">
    <textarea id="messageTextarea"></textarea>
    <p><span id="numberCharactersLeft">140</span> characters left</p>
    <button id="sendTweetButton" disabled="true">Tweet!</button>
    <div id="suggestionPanel"></div>
</div>

<div id="largeImagePopup"><img src="#"></div>

<div id="userProfile">
  <img id="profileBackground" src="#">

  <img id="profilePicture" src="#">
</div>

<div id="tweetConfirmationPopup">
    <h3>Confirm the retweet</h3>
    <div id="tweetView"></div>
    <button id="retweetCancelButton" class="classic-button">Cancel</button>
    <button id="retweetButton" class="classic-button">Retweet</button>
</div>

<ul id="tweets-columns-list">
</ul>
