<div id="sidebar">
    
<ul id="about-informations">
    <li><a href="https://github.com/KillianKemps/KoalasLiveTweet"><img src="GitHub-Mark-Light-32px.png"/>Github</a></li>
    <li><a href="http://opensource.org/licenses/MIT">Published under MIT License</a></li>
    <li><a href="http://www.killiankemps.fr">Developed by Killian Kemps</a></li>
</li>

</div>
<div id="welcome-block">
    <h1>Welcome to KoalasLiveTweet !</h1>
    <p>It is an open source Twitter dashboard that allows you to follow tweets according to hashtags.</p>

    <%if (!userId) { %>
    	<p>To use it, please sign in your Twitter account !</p>
        <a href="/auth/twitter" id="welcome-button">Sign in with Twitter</a>
	<% }
	else { %>
		<p>Hello <%=username %> !</p>
        <a href="/dashboard" id="welcome-button">Enter the dashboard</a>
	<% } %>

</div>
