<div id="login-background">
  <div id="loginPopup">
    <img src="/img/logo-icn+name-white-shadow.png" alt="Qowala's logo">
    <h2>Welcome to the jungle!</h2>
    <p>But rest assured, it's full of friendly koalas.</p>
    <a href="/auth/twitter" id="welcome-button">
      <i class="fa fa-twitter"></i>Log in with Twitter
    </a>
  </div>
</div>

<div id="deprecatedBrowserPopup">
  <img src="/img/icn-bubble-deprecated-browsers.png" alt="">

    <h2>You are using an old browser!</h2>
    <span>Uh oh...!</span>
    <p>Qowala uses the latest web technologies to offer you the best experience possible.<br />
    For your comfort, <span>please use the latest version of your web browser.</span></p>
    <p>If you have a doubt, it is likely you're using one of the following:</p>

    <ul id="browsers">
      <li class="browser">
        <a href="https://www.mozilla.org/en-US/firefox/new/">
          <i class="fa fa-firefox"></i>
          Firefox
        </a>
      </li>

      <li class="browser">
        <a href="https://www.chromium.org/">
          <i class="fa fa-chrome"></i>
          Chromium
        </a>
      </li>

      <li class="browser">
        <a href="http://www.opera.com/">
          <i class="fa fa-opera"></i>
          Opera
        </a>
      </li>
    </ul>

    <div id="instructions">
      <ul>
        <li><span>Click on the link</span> to access your browser's developer website</li>
        <li><span>Download & install</span> your browser's newest version</li>
      </ul>
    </div>

    <div id="greeting">Thank you and <span>happy browsing!</span></div>

</div>

<script type="text/javascript" src="/js/deprecatedBrowserPopup.js"></script>
