<!DOCTYPE html>
<html>
<head>
    <title>Qowala</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="152x152" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%- body %>
    <% if (piwikUrl && piwikId) { %>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//<%= piwikUrl %>/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', <%= piwikId %>]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//<%= piwikUrl %>/piwik.php?idsite=<%= piwikId %>" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    <% } %>
</body>
</html>
